[Desktop Entry]
X-SuSE-translate=true
Categories=System;SystemSetup
Type=Application
X-KDE-SubstituteUID=true
Exec=amdcccle
Name=ATI Catalyst Control Center
GenericName=ATI graphics adapter settings
Icon=fglrx

Name[bg]=Name(fglrx.desktop): Управление за ATI
GenericName[bg]=GenericName(fglrx.desktop): Настройване на ATI графична карта
Name[cs]=ATI nastavení
GenericName[cs]=Nastavení karet ATI
Name[de]=ATI Control
GenericName[de]=Einstellungen für den ATI-Grafikadapter
Name[es]=Control ATI
GenericName[es]=Ajustes el adaptador de gráficos ATI
Name[fr]=Contrôle ATI
GenericName[fr]=Paramètres de carte graphique ATI
Name[hu]=ATI Control
GenericName[hu]=ATI grafikus kártyák beállítása
Name[it]=Controllo ATI
GenericName[it]=Impostazioni adapter per grafiche ATI
Name[ja]=ATIコントロール
GenericName[ja]=ATIグラフィックアダプタ設定
Name[nb]=ATI-kontroll
GenericName[nb]=Innstillinger for ATI-grafikkort
Name[nl]=ATI besturing
GenericName[nl]=ATI grafische adapter instellingen
Name[pl]=Konfiguracja ATI
GenericName[pl]=Ustawienia sterownika graficznego ATI
Name[pt_BR]=ATI Control
GenericName[pt_BR]=Configurações de placa de vídeo ATI
Name[sk]=ATI Control
GenericName[sk]=Nastavenia pre grafické adaptéry ATi
Name[zh_CN]=ATI 控制
GenericName[zh_CN]=ATI 图形适配器设置
Name[zh_TW]=ATI 控制
GenericName[zh_TW]=ATI 圖形介面卡設定
